/*
 * Emitfy REST API
 *
 * API REST Emitfy (camelCase inglês). Modelo Conta × Assinatura: - Keys e webhooks na assinatura (`/webhooks`, sem companyId na URL) - Emissão e catálogo sob `/companies/{companyId}/...` Envelope: `{ \"success\": true, \"data\": ... }` / `{ \"success\": false, \"error\": { \"code\", \"message\", \"details\" } }`. Validação Zod → HTTP 422 + `VALIDATION_ERROR`. Fonte para agentes: https://api.emitfy.com/llms-full.txt 
 *
 * The version of the OpenAPI document: 0.2.1
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;

namespace Emitfy.Generated.Client
{
    /// <summary>
    /// Represents configuration aspects required to interact with the API endpoints.
    /// </summary>
    public interface IApiAccessor
    {
        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        string GetBasePath();

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        ExceptionFactory ExceptionFactory { get; set; }
    }
}
