/*
 * Emitfy REST API
 *
 * API REST Emitfy (camelCase inglês). Modelo Conta × Assinatura: - Keys e webhooks na assinatura (`/webhooks`, sem companyId na URL) - Emissão e catálogo sob `/companies/{companyId}/...` Emissão inicial é por tipo: `POST /companies/{companyId}/nfse`, `/nfe`, `/nfce`, `/cte`, `/cte-os`. `/invoices` é a consulta unificada (list/get) e também PATCH (rascunho/rejected), POST emit (retry) e POST cancel. Nota autorizada ou cancelada é imutável. Carta de correção (CC-e) é outro endpoint (`POST .../nfe/{id}/correction`) — não use emit para CC-e. Envelope: `{ \"success\": true, \"data\": ... }` / `{ \"success\": false, \"error\": { \"code\", \"message\", \"details\" } }`. Validação Zod → HTTP 422 + `VALIDATION_ERROR`. Fonte para agentes: https://api.emitfy.com/llms-full.txt 
 *
 * The version of the OpenAPI document: 0.6.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

using Newtonsoft.Json.Converters;

namespace Emitfy.Generated.Client
{
    /// <summary>
    /// Formatter for 'date' openapi formats ss defined by full-date - RFC3339
    /// see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#data-types
    /// </summary>
    public class OpenAPIDateConverter : IsoDateTimeConverter
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="OpenAPIDateConverter" /> class.
        /// </summary>
        public OpenAPIDateConverter()
        {
            // full-date   = date-fullyear "-" date-month "-" date-mday
            DateTimeFormat = "yyyy-MM-dd";
        }
    }
}
