/*
 * Emitfy REST API
 *
 * API REST Emitfy (camelCase inglês). Modelo Conta × Assinatura: - Keys e webhooks na assinatura (`/webhooks`, sem companyId na URL) - Emissão e catálogo sob `/companies/{companyId}/...` Envelope: `{ \"success\": true, \"data\": ... }` / `{ \"success\": false, \"error\": { \"code\", \"message\", \"details\" } }`. Validação Zod → HTTP 422 + `VALIDATION_ERROR`. Fonte para agentes: https://api.emitfy.com/llms-full.txt 
 *
 * The version of the OpenAPI document: 0.2.1
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Net.Mime;
using Emitfy.Generated.Client;

namespace Emitfy.Generated.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface INfseApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// Cancel NFS-e
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <returns></returns>
        void NfseCancel(Guid companyId, string id);

        /// <summary>
        /// Cancel NFS-e
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> NfseCancelWithHttpInfo(Guid companyId, string id);
        /// <summary>
        /// Emit NFS-e (shortcut)
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="requestBody"></param>
        /// <param name="idempotencyKey"> (optional)</param>
        /// <returns></returns>
        void NfseCreate(Guid companyId, Dictionary<string, Object> requestBody, string? idempotencyKey = default);

        /// <summary>
        /// Emit NFS-e (shortcut)
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="requestBody"></param>
        /// <param name="idempotencyKey"> (optional)</param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> NfseCreateWithHttpInfo(Guid companyId, Dictionary<string, Object> requestBody, string? idempotencyKey = default);
        /// <summary>
        /// Get NFS-e
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <returns></returns>
        void NfseGet(Guid companyId, string id);

        /// <summary>
        /// Get NFS-e
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> NfseGetWithHttpInfo(Guid companyId, string id);
        /// <summary>
        /// List NFS-e
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="pageSize"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <returns></returns>
        void NfseList(Guid companyId, int? page = default, int? pageSize = default, string? status = default);

        /// <summary>
        /// List NFS-e
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="pageSize"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> NfseListWithHttpInfo(Guid companyId, int? page = default, int? pageSize = default, string? status = default);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface INfseApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Cancel NFS-e
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task NfseCancelAsync(Guid companyId, string id, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Cancel NFS-e
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> NfseCancelWithHttpInfoAsync(Guid companyId, string id, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Emit NFS-e (shortcut)
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="requestBody"></param>
        /// <param name="idempotencyKey"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task NfseCreateAsync(Guid companyId, Dictionary<string, Object> requestBody, string? idempotencyKey = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Emit NFS-e (shortcut)
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="requestBody"></param>
        /// <param name="idempotencyKey"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> NfseCreateWithHttpInfoAsync(Guid companyId, Dictionary<string, Object> requestBody, string? idempotencyKey = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Get NFS-e
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task NfseGetAsync(Guid companyId, string id, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Get NFS-e
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> NfseGetWithHttpInfoAsync(Guid companyId, string id, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List NFS-e
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="pageSize"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task NfseListAsync(Guid companyId, int? page = default, int? pageSize = default, string? status = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List NFS-e
        /// </summary>
        /// <remarks>
        /// 
        /// </remarks>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="pageSize"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> NfseListWithHttpInfoAsync(Guid companyId, int? page = default, int? pageSize = default, string? status = default, System.Threading.CancellationToken cancellationToken = default);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface INfseApi : INfseApiSync, INfseApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class NfseApi : IDisposable, INfseApi
    {
        private Emitfy.Generated.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="NfseApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public NfseApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="NfseApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public NfseApi(string basePath)
        {
            this.Configuration = Emitfy.Generated.Client.Configuration.MergeConfigurations(
                Emitfy.Generated.Client.GlobalConfiguration.Instance,
                new Emitfy.Generated.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Emitfy.Generated.Client.ApiClient(this.Configuration.BasePath);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Emitfy.Generated.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="NfseApi"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public NfseApi(Emitfy.Generated.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = Emitfy.Generated.Client.Configuration.MergeConfigurations(
                Emitfy.Generated.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Emitfy.Generated.Client.ApiClient(this.Configuration.BasePath);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Emitfy.Generated.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="NfseApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public NfseApi(HttpClient client, HttpClientHandler handler = null) : this(client, (string)null, handler)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="NfseApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public NfseApi(HttpClient client, string basePath, HttpClientHandler handler = null)
        {
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Emitfy.Generated.Client.Configuration.MergeConfigurations(
                Emitfy.Generated.Client.GlobalConfiguration.Instance,
                new Emitfy.Generated.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new Emitfy.Generated.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = Emitfy.Generated.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="NfseApi"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public NfseApi(HttpClient client, Emitfy.Generated.Client.Configuration configuration, HttpClientHandler handler = null)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = Emitfy.Generated.Client.Configuration.MergeConfigurations(
                Emitfy.Generated.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new Emitfy.Generated.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = Emitfy.Generated.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="NfseApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public NfseApi(Emitfy.Generated.Client.ISynchronousClient client, Emitfy.Generated.Client.IAsynchronousClient asyncClient, Emitfy.Generated.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = Emitfy.Generated.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Disposes resources if they were created by us
        /// </summary>
        public void Dispose()
        {
            this.ApiClient?.Dispose();
        }

        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public Emitfy.Generated.Client.ApiClient ApiClient { get; set; } = null;

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public Emitfy.Generated.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public Emitfy.Generated.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public Emitfy.Generated.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public Emitfy.Generated.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// Cancel NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <returns></returns>
        public void NfseCancel(Guid companyId, string id)
        {
            NfseCancelWithHttpInfo(companyId, id);
        }

        /// <summary>
        /// Cancel NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        public Emitfy.Generated.Client.ApiResponse<Object> NfseCancelWithHttpInfo(Guid companyId, string id)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Emitfy.Generated.Client.ApiException(400, "Missing required parameter 'id' when calling NfseApi->NfseCancel");

            Emitfy.Generated.Client.RequestOptions localVarRequestOptions = new Emitfy.Generated.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
            };

            var localVarContentType = Emitfy.Generated.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Emitfy.Generated.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("companyId", Emitfy.Generated.Client.ClientUtils.ParameterToString(companyId)); // path parameter
            localVarRequestOptions.PathParameters.Add("id", Emitfy.Generated.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Key", this.Configuration.GetApiKeyWithPrefix("X-Api-Key"));
            }
            // authentication (ApiSecretAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Secret")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Secret", this.Configuration.GetApiKeyWithPrefix("X-Api-Secret"));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Delete<Object>("/companies/{companyId}/nfse/{id}", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("NfseCancel", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Cancel NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        public async System.Threading.Tasks.Task NfseCancelAsync(Guid companyId, string id, System.Threading.CancellationToken cancellationToken = default)
        {
            await NfseCancelWithHttpInfoAsync(companyId, id, cancellationToken).ConfigureAwait(false);
        }

        /// <summary>
        /// Cancel NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        public async System.Threading.Tasks.Task<Emitfy.Generated.Client.ApiResponse<Object>> NfseCancelWithHttpInfoAsync(Guid companyId, string id, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Emitfy.Generated.Client.ApiException(400, "Missing required parameter 'id' when calling NfseApi->NfseCancel");


            Emitfy.Generated.Client.RequestOptions localVarRequestOptions = new Emitfy.Generated.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
            };


            var localVarContentType = Emitfy.Generated.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Emitfy.Generated.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("companyId", Emitfy.Generated.Client.ClientUtils.ParameterToString(companyId)); // path parameter
            localVarRequestOptions.PathParameters.Add("id", Emitfy.Generated.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Key", this.Configuration.GetApiKeyWithPrefix("X-Api-Key"));
            }
            // authentication (ApiSecretAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Secret")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Secret", this.Configuration.GetApiKeyWithPrefix("X-Api-Secret"));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.DeleteAsync<Object>("/companies/{companyId}/nfse/{id}", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("NfseCancel", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Emit NFS-e (shortcut) 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="requestBody"></param>
        /// <param name="idempotencyKey"> (optional)</param>
        /// <returns></returns>
        public void NfseCreate(Guid companyId, Dictionary<string, Object> requestBody, string? idempotencyKey = default)
        {
            NfseCreateWithHttpInfo(companyId, requestBody, idempotencyKey);
        }

        /// <summary>
        /// Emit NFS-e (shortcut) 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="requestBody"></param>
        /// <param name="idempotencyKey"> (optional)</param>
        /// <returns>ApiResponse of Object(void)</returns>
        public Emitfy.Generated.Client.ApiResponse<Object> NfseCreateWithHttpInfo(Guid companyId, Dictionary<string, Object> requestBody, string? idempotencyKey = default)
        {
            // verify the required parameter 'requestBody' is set
            if (requestBody == null)
                throw new Emitfy.Generated.Client.ApiException(400, "Missing required parameter 'requestBody' when calling NfseApi->NfseCreate");

            Emitfy.Generated.Client.RequestOptions localVarRequestOptions = new Emitfy.Generated.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
            };

            var localVarContentType = Emitfy.Generated.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Emitfy.Generated.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("companyId", Emitfy.Generated.Client.ClientUtils.ParameterToString(companyId)); // path parameter
            if (idempotencyKey != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Idempotency-Key", Emitfy.Generated.Client.ClientUtils.ParameterToString(idempotencyKey)); // header parameter
            }
            localVarRequestOptions.Data = requestBody;

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Key", this.Configuration.GetApiKeyWithPrefix("X-Api-Key"));
            }
            // authentication (ApiSecretAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Secret")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Secret", this.Configuration.GetApiKeyWithPrefix("X-Api-Secret"));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Post<Object>("/companies/{companyId}/nfse", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("NfseCreate", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Emit NFS-e (shortcut) 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="requestBody"></param>
        /// <param name="idempotencyKey"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        public async System.Threading.Tasks.Task NfseCreateAsync(Guid companyId, Dictionary<string, Object> requestBody, string? idempotencyKey = default, System.Threading.CancellationToken cancellationToken = default)
        {
            await NfseCreateWithHttpInfoAsync(companyId, requestBody, idempotencyKey, cancellationToken).ConfigureAwait(false);
        }

        /// <summary>
        /// Emit NFS-e (shortcut) 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="requestBody"></param>
        /// <param name="idempotencyKey"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        public async System.Threading.Tasks.Task<Emitfy.Generated.Client.ApiResponse<Object>> NfseCreateWithHttpInfoAsync(Guid companyId, Dictionary<string, Object> requestBody, string? idempotencyKey = default, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'requestBody' is set
            if (requestBody == null)
                throw new Emitfy.Generated.Client.ApiException(400, "Missing required parameter 'requestBody' when calling NfseApi->NfseCreate");


            Emitfy.Generated.Client.RequestOptions localVarRequestOptions = new Emitfy.Generated.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
            };


            var localVarContentType = Emitfy.Generated.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Emitfy.Generated.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("companyId", Emitfy.Generated.Client.ClientUtils.ParameterToString(companyId)); // path parameter
            if (idempotencyKey != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Idempotency-Key", Emitfy.Generated.Client.ClientUtils.ParameterToString(idempotencyKey)); // header parameter
            }
            localVarRequestOptions.Data = requestBody;

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Key", this.Configuration.GetApiKeyWithPrefix("X-Api-Key"));
            }
            // authentication (ApiSecretAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Secret")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Secret", this.Configuration.GetApiKeyWithPrefix("X-Api-Secret"));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.PostAsync<Object>("/companies/{companyId}/nfse", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("NfseCreate", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <returns></returns>
        public void NfseGet(Guid companyId, string id)
        {
            NfseGetWithHttpInfo(companyId, id);
        }

        /// <summary>
        /// Get NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        public Emitfy.Generated.Client.ApiResponse<Object> NfseGetWithHttpInfo(Guid companyId, string id)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Emitfy.Generated.Client.ApiException(400, "Missing required parameter 'id' when calling NfseApi->NfseGet");

            Emitfy.Generated.Client.RequestOptions localVarRequestOptions = new Emitfy.Generated.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
            };

            var localVarContentType = Emitfy.Generated.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Emitfy.Generated.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("companyId", Emitfy.Generated.Client.ClientUtils.ParameterToString(companyId)); // path parameter
            localVarRequestOptions.PathParameters.Add("id", Emitfy.Generated.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Key", this.Configuration.GetApiKeyWithPrefix("X-Api-Key"));
            }
            // authentication (ApiSecretAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Secret")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Secret", this.Configuration.GetApiKeyWithPrefix("X-Api-Secret"));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<Object>("/companies/{companyId}/nfse/{id}", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("NfseGet", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Get NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        public async System.Threading.Tasks.Task NfseGetAsync(Guid companyId, string id, System.Threading.CancellationToken cancellationToken = default)
        {
            await NfseGetWithHttpInfoAsync(companyId, id, cancellationToken).ConfigureAwait(false);
        }

        /// <summary>
        /// Get NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="id"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        public async System.Threading.Tasks.Task<Emitfy.Generated.Client.ApiResponse<Object>> NfseGetWithHttpInfoAsync(Guid companyId, string id, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'id' is set
            if (id == null)
                throw new Emitfy.Generated.Client.ApiException(400, "Missing required parameter 'id' when calling NfseApi->NfseGet");


            Emitfy.Generated.Client.RequestOptions localVarRequestOptions = new Emitfy.Generated.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
            };


            var localVarContentType = Emitfy.Generated.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Emitfy.Generated.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("companyId", Emitfy.Generated.Client.ClientUtils.ParameterToString(companyId)); // path parameter
            localVarRequestOptions.PathParameters.Add("id", Emitfy.Generated.Client.ClientUtils.ParameterToString(id)); // path parameter

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Key", this.Configuration.GetApiKeyWithPrefix("X-Api-Key"));
            }
            // authentication (ApiSecretAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Secret")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Secret", this.Configuration.GetApiKeyWithPrefix("X-Api-Secret"));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<Object>("/companies/{companyId}/nfse/{id}", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("NfseGet", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="pageSize"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <returns></returns>
        public void NfseList(Guid companyId, int? page = default, int? pageSize = default, string? status = default)
        {
            NfseListWithHttpInfo(companyId, page, pageSize, status);
        }

        /// <summary>
        /// List NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="pageSize"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <returns>ApiResponse of Object(void)</returns>
        public Emitfy.Generated.Client.ApiResponse<Object> NfseListWithHttpInfo(Guid companyId, int? page = default, int? pageSize = default, string? status = default)
        {
            Emitfy.Generated.Client.RequestOptions localVarRequestOptions = new Emitfy.Generated.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
            };

            var localVarContentType = Emitfy.Generated.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Emitfy.Generated.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("companyId", Emitfy.Generated.Client.ClientUtils.ParameterToString(companyId)); // path parameter
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Emitfy.Generated.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (pageSize != null)
            {
                localVarRequestOptions.QueryParameters.Add(Emitfy.Generated.Client.ClientUtils.ParameterToMultiMap("", "pageSize", pageSize));
            }
            if (status != null)
            {
                localVarRequestOptions.QueryParameters.Add(Emitfy.Generated.Client.ClientUtils.ParameterToMultiMap("", "status", status));
            }

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Key", this.Configuration.GetApiKeyWithPrefix("X-Api-Key"));
            }
            // authentication (ApiSecretAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Secret")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Secret", this.Configuration.GetApiKeyWithPrefix("X-Api-Secret"));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<Object>("/companies/{companyId}/nfse", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("NfseList", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="pageSize"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        public async System.Threading.Tasks.Task NfseListAsync(Guid companyId, int? page = default, int? pageSize = default, string? status = default, System.Threading.CancellationToken cancellationToken = default)
        {
            await NfseListWithHttpInfoAsync(companyId, page, pageSize, status, cancellationToken).ConfigureAwait(false);
        }

        /// <summary>
        /// List NFS-e 
        /// </summary>
        /// <exception cref="Emitfy.Generated.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="companyId">ID da empresa (CNPJ operacional) no path</param>
        /// <param name="page"> (optional, default to 1)</param>
        /// <param name="pageSize"> (optional)</param>
        /// <param name="status"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        public async System.Threading.Tasks.Task<Emitfy.Generated.Client.ApiResponse<Object>> NfseListWithHttpInfoAsync(Guid companyId, int? page = default, int? pageSize = default, string? status = default, System.Threading.CancellationToken cancellationToken = default)
        {

            Emitfy.Generated.Client.RequestOptions localVarRequestOptions = new Emitfy.Generated.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
            };


            var localVarContentType = Emitfy.Generated.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = Emitfy.Generated.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("companyId", Emitfy.Generated.Client.ClientUtils.ParameterToString(companyId)); // path parameter
            if (page != null)
            {
                localVarRequestOptions.QueryParameters.Add(Emitfy.Generated.Client.ClientUtils.ParameterToMultiMap("", "page", page));
            }
            if (pageSize != null)
            {
                localVarRequestOptions.QueryParameters.Add(Emitfy.Generated.Client.ClientUtils.ParameterToMultiMap("", "pageSize", pageSize));
            }
            if (status != null)
            {
                localVarRequestOptions.QueryParameters.Add(Emitfy.Generated.Client.ClientUtils.ParameterToMultiMap("", "status", status));
            }

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Key", this.Configuration.GetApiKeyWithPrefix("X-Api-Key"));
            }
            // authentication (ApiSecretAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-Api-Secret")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-Api-Secret", this.Configuration.GetApiKeyWithPrefix("X-Api-Secret"));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<Object>("/companies/{companyId}/nfse", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("NfseList", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

    }
}
